body, html {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.swipe-screen {
  display: flex;
  height: 100vh;
  background-color: #f0f2f5;
  color: black;
}

.sidebar {
  width: 300px;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  padding: 10px;
  margin-left: 0;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

.profile-card {
  width: 100vw;
  max-width: 500px;
  background-color: #fff;
  color: black;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.profile-card.expanded {
  max-height: none;
}

.carousel-item img {
  width: 100vw;
  height: 300px; /* Ajustar la altura para una mejor visualización */
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
  padding-top: 15px; /* Añadido para separar del contenedor superior */
}

.breed-container {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

.breed-circle {
  background: linear-gradient(90deg, #045ec8 0%, #25a5c4 100%);
  color: white;
  padding: 4px 12px;
  border-radius: 16px;
  font-weight: bold;
  display: inline-block;
  font-size: 12px;
}

.profile-name {
  font-weight: bold;
}

.profile-sex {
  font-weight: bold;
  margin: 4px 0;
}

.expand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 0;
  margin-top: 15px; /* Añadido para separar del contenido anterior */
}

.expand-image {
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
}

.expand-image.expanded {
  transform: rotate(180deg);
}

.profile-details {
  display: none;
  width: 100%;
  padding: 10px;
}

.profile-details.expanded {
  display: block;
}

.owner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.owner-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owner-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  width: 20%;
}

.like-image, .dislike-image {
  width: 50px;
  height: 50px;
}

.profile-image {
  width: 100px; /* Ajustar el tamaño de la imagen para una mejor visualización */
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  display: block;
  margin: 0 auto;
  border: 3px solid #25a5c4;
}

.username {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.matches-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.match-card {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
}

.sidebar-button {
  background: linear-gradient(90deg, #045ec8 0%, #25a5c4 100%);
  color: white;
  border: none;
  margin-bottom: 2px;
  padding: 1px 0;
  width: 45%;
}

.sidebar-button:hover {
  opacity: 0.9;
}

.sidebar-title {
  font-size: 1.2em;
  color: #045ec8;
  margin-bottom: 10px;
}

.chats-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.chat-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-text {
  display: flex;
  flex-direction: column;
}

.chat-name {
  font-weight: bold;
}

.chat-message {
  font-size: 0.9em;
  color: gray;
}

.chat-divider {
  margin: 0;
  border-top: 1px solid #ddd;
}
