body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.login-background {
  background-image: url('../Assets/pup.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(120, 120, 120, 0.6); /* Ajusta el nivel de transparencia aquí */
}

.login-container {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.825);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.paw-icon {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.page-title {
  font-size: 35px;
  color: #333333;
  margin: 0;
}

.login-subtitle {
  font-size: 18px;
  color: #333333;
  margin-bottom: 40px;
}

.login-subtitle a {
  color: #0575F9;
  text-decoration: none;
}

.login-button {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button.google {
  background-color: #db4437;
  color: white;
}

.login-button.facebook {
  background-color: #4267B2;
  color: white;
}
.create-account-link {
  color: #0575F9;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin-top: 20px;
  transition: color 0.3s ease;
}

.create-account-link:hover {
  color: #2BCDE3;
}

