.login-background {
  background-color: #9FB8DC; /* Fondo azul claro */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  padding: 40vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el contenedor */
  height: 100vh;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo-image {
  width: 50px; /* Ajusta el tamaño según tus necesidades */
  height: auto;
  margin-right: 10px; /* Espacio entre el logo y el título */
}

.login-title {
  font-weight: bold;
  color: #333333; /* Letras más oscuras para contraste */
}

.login-subtitle {
  color: #333333; /* Letras más oscuras */
  margin-bottom: 40px; /* Ajusta el espacio inferior */
}

.login-button {
  border: none; /* Sin borde */
  color: #ffffff; /* Texto blanco */
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #333333; /* Fondo oscuro */
  margin-top: 10px; /* Añade espacio superior */
}

.login-google {
  background-color: #db4437; /* Rojo de Google */
}

.login-facebook {
  background-color: #3b5998; /* Azul de Facebook */
}

.login-github {
  background-color: #333333; /* Negro de GitHub */
}

.login-footer {
  color: #333333; /* Texto oscuro */
  margin-top: 30px;
}

.login-footer a {
  color: #333333; /* Enlaces oscuros */
  text-decoration: none;
}

.login-footer a:hover {
  text-decoration: underline;
}

.page-title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
}
